body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  background-color: rgb(250, 90, 90);
  color: white;
  text-align: center;
}

main {
    height: 80vh;
}

main div {
  height: 50vh;
  background-color: rgb(218, 213, 213);
  margin: 0 50px;
}

.footer {
  width: 100%;
  background-color: rgb(250, 90, 90);
  color: white;
  text-align: center;
}
